Repository SUSE-Cloud/automation, pull requests merged in 2019-09, with the labels that each got.

#3666 upgrade: Fix Cloud9 prechecks
  jenkins/ci.suse.de/cloud-mkcloud9.yaml
  jenkins/ci.suse.de/templates/cloud-mkcloud-job-upgrade-disruptive-template.yaml
  jenkins/ci.suse.de/templates/cloud-mkcloud-job-upgrade-nondisruptive-ha-mariadb-template.yaml
  jenkins/ci.suse.de/templates/cloud-mkcloud-job-upgrade-nondisruptive-ha-without-nodes-upgrade-template.yaml
Labels: upgrade

#3648 Add collect supportconfig to ardana (SOC-8460)
  jenkins/ci.suse.de/cloud-ardana.yaml
  jenkins/ci.suse.de/pipelines/openstack-ardana.Jenkinsfile
  jenkins/ci.suse.de/templates/cloud-ardana-pipeline-template.yaml
  scripts/jenkins/cloud/ansible/bootstrap-vcloud-nodes.yml
Labels: do not merge yet

#3592 crowbar: add tempest tests on MU jobs for cloud 9 (SOC-9298)
  jenkins/ci.suse.de/cloud-maintenance.yaml
Labels: do not merge yet

#3681 upgrade: Increase controller memory for upgrade
  jenkins/ci.suse.de/cloud-mkcloud9.yaml
  jenkins/ci.suse.de/templates/cloud-mkcloud-job-upgrade-disruptive-template.yaml
Labels: upgrade

#3497 Add Docker deployer scripts
  README.md
  docs/cloud/README.md
  docs/cloud/rpm-file-checks.md
  docs/cloud/testing.md
  scripts/jenkins/cloud/manual/Dockerfile
  scripts/jenkins/cloud/manual/manager-entry-point.sh
  scripts/jenkins/cloud/manual/manager_copy_clouds.py
  scripts/jenkins/cloud/manual/run-containerized-manager.sh
Labels: IPv6-CP, cloud-networking
